html.fullscreen-page, 
html.fullscreen-page body{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

input.form-control, input.form-control:focus, input.form-control:active, input.form-control:hover{
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	box-shadow: none;
	border-radius: 0;
	border-bottom-width: 1px;
}

.navbar{
	margin-bottom: 0;
}

.navbar .container-fluid{
	margin: 0 10px;
}

.navbar .brand{
	display: inline-block;
	text-align: left;
	text-decoration: none;
}

.navbar .brand h1{
	padding: 0;
	margin: 0;
	line-height: 1.2;
	font-size: 30px;
	font-weight: 600;
	color: #37474f;
}
.navbar .brand h1 small{
	font-weight: 600;
	color: #37474f;
}

.navbar .user-nav{
	position: absolute;
	right: 10px;
	top:5px; 
}

.navbar .user-nav img{
	height: 60px;
	width: 60px;
}

.site{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.site .sidebar-wrapper{
	position: absolute;
	width: 250px;
	height: 100%;
	z-index: 1;
	background-color: #37474f;
}

.site .sidebar-wrapper .sidebar{
	padding: 20px 0 0;
}

.site .sidebar-wrapper .sidebar #sidebar-options{
	margin-top: 10px;
	overflow: hidden;
}

.site .sidebar-wrapper .sidebar #sidebar-options, 
.site .sidebar-wrapper .sidebar #sidebar-options ul {
	list-style-type:none;
	padding: 0px;
	margin: 0px;
}

.site .sidebar-wrapper .sidebar #sidebar-options li a{
	position: relative;
	display: block;
	color: #cfd8dc;
	font-size: 14px;
	padding: 13px 10px;
	transition: all 0.1s ease 0s;
	text-decoration: none;
}

.site .sidebar-wrapper .sidebar #sidebar-options li a:hover{
	background-color: #26a69a;
	color: #eceff1;
}

.site .sidebar-wrapper .sidebar #sidebar-options li a i {
	display: inline-block;
	font-size: 14px;
	margin: 0px 10px;
	text-align: center;
	width: 20px;
}


.site .sidebar-wrapper .sidebar #sidebar-options > li.active > a{
	border-left: 5px solid #26a69a;
	color: white;
}

.site .sidebar-wrapper .sidebar #sidebar-options > li > a > i {
	margin: 0px 10px 0 5px;
}

.site .sidebar-wrapper .sidebar #sidebar-options > li.open > a{
	background-color: #e0f2f1;
	color: #232B2D;
}

.site .sidebar-wrapper .sidebar #sidebar-options > li.open > a > span > i{
	transform: rotate(90deg); 
}


.site .sidebar-wrapper .sidebar #sidebar-options > li > ul{
	height: 0;
	overflow: hidden;
	transition: height 0.3s ease 0;
}

.site .sidebar-wrapper .sidebar #sidebar-options > li.open > ul{
	height: auto;
}

.site .sidebar-wrapper .sidebar #sidebar-options > li > ul li a{
	background-color: #232B2D;
}







.site .content-wrapper{
	position: relative;
	width: 100%;
	padding: 250px;
	height: 100%;
}

.vertical-align-container{
	display: table;
	width: 100%;
	height: 100%;
}

.vertical-aligned-content{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.panel{
	border-radius: 2px;
	box-shadow: 0 0 2px #aaa;
}


/****************************************************/
/*                     Pages                        */
/****************************************************/
body#LoginPage{
	text-align: center;
	background: #ddd;
	background: -moz-linear-gradient(top,  #ddd 50%, #404040 50%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ddd), color-stop(50%,#404040));
	background: -webkit-linear-gradient(top,  #ddd 50%,#404040 50%);
	background: -o-linear-gradient(top,  #ddd 50%,#404040 50%);
	background: -ms-linear-gradient(top,  #ddd 50%,#404040 50%);
	background: linear-gradient(to bottom,  #ddd 50%,#404040 50%);
	color: #5E5E5E;
}

body#LoginPage .panel{
	position: relative;
	display: inline-block;
	width: 400px;
	height: 250px;
	margin:0 auto;
	padding: 10px 0 0;
}

body#LoginPage img{
	position: absolute;
	left: -300px;
	top: 0;
}

body#LoginPage form{
	padding: 0 30px;
}

body#LoginPage .form-group{
	text-align: left;
}

body#LoginPage button[type="submit"]{
	position: absolute;
	right: -25px;
	top:100px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	padding: 0;
	margin: 0;
	border-radius: 50%;
	box-shadow: 0 0 4px #404040;
}